
/* .combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
} */

.combo-box {
    -fx-border-width: 1px;
    -fx-border-color: #ACACAC;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-font-size: 15px;
    -fx-padding: 0px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue','Arial','sans-serif';
}

.combo-box:hover {
    -fx-text-fill:white;
}

.combo-box-base:hover {
    -fx-border-color: green;
}

.conbo-box .list-view {
    -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
    -fx-background-color: white;
    -fx-padding: 0px;
    -fx-font-weight:700;
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-background-radius: 10px 10px 0px 0px;
}

.combo-box .list-view .list-ce:filled {
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight:700;
}

