.white-background {
    -fx-background-color: #fff;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.round-layout {
    -fx-border-radius: 58;
    -fx-border-color: #d7d7d7;

}

.selected {
    -fx-background-color: #f3f3f3;
}

.mouse-moved:hover {
    -fx-background-color: #e4e4e4;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 10);
}

.layer {
    -fx-view-order: 1000;
}

* {
	-fx-primary-color: #007acc;
	-fx-secondary-color: #4B6EAF;
	-fx-grey-color: #b9b9b9;
	-fx-focus-color: -fx-secondary-color;
}

/* .text-field{
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
 }

 .text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
} */